body {
}

section {
    padding: 30px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section > * {
    width: 700px;
}

img {
    max-width: 700px;
}


footer {
    background-color: black;
    color: white;
    font-size: 1.5vw;
    font-weight: 300;
    letter-spacing: 0.5em;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

footer img {
    width: 50%;
}

footer div {
    padding-bottom: 1em;
}

footer div:first-of-type {
    color: #3399cc
}

footer a {
    color: white;
    text-decoration-color: purple;
}
